* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #404548;
}

.burger {
    visibility: hidden;
}

nav {
    max-width: 1050px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #90969B;
    font-size: 30px;
    display: inline;
}

nav a:hover {
    transform: scale(1.3);
    transition: 2s;
}

.menu li a:hover {
    border: #90969B solid 3px;
}

ul {
    margin: 0;
    padding: 4px;
    display: flex;

}

nav ul li {
    list-style: none;
    display: inline;
    margin: 15px;
}

.icons {
    list-style: none;
    display: flex;
}

.blood {
    background-image: url("img/blood.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.blood:hover {
    background-image: url("img/blood_full.png");
}

.ghost {
    background-image: url("img/ghost.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.ghost:hover {
    background-image: url("img/ghost_full.png");
}

.horror {
    background-image: url("img/horror.png");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.horror:hover {
    background-image: url("img/horror_full.png");
}

.hello {
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
}

.hello img {
    width: 100%;
}

.hello__title {
    position: absolute;
    left: 30%;
    top: 100px;
}   

.hello p {
    font-size: 36px;
    color: #90969B;
}

h1 {
    font-size: 36px;
    color: #90969B;
    text-transform: capitalize;
    text-align: right;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #90969B;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.note {
    width: 150px;
    height: 300px;
    border: 3px solid #90969B;
    text-align: center;
    flex-direction: column;
    color: #90969B;
    font-size: 10px;
    align-items: center;
    margin: 10px;
}

.note p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.note img {
    padding-top: 10px;
    width: 75%;

}

.note img:hover {
    transform: scale(1.2);
    transition: 1s;
}

h3 {
    text-align: center;
    color: #90969B;
    font-size: 25px;
    padding-top: 5px;
}

.button {
    width: 60%;
    height: 10%;
    overflow: hidden;
    border: 1px solid azure;
    background: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    transition: 3s;
}

.button p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: azure;
    font-size: 15px;
    text-transform: uppercase;
}

.button p:hover {
    color: black;
}

.button:hover {
    background-color: white;
}

button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
}

button:hover:before {
    top: 0;
    height: 100%;
}

.territory {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
}

h4 {
    font-size: 35px;
    margin-left: 35%;
    margin-top: 50px;
    color: #90969B;
}

.parts {

    position: relative;
    margin-top: 50px;
    margin-left: -2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.parts p {
    position: absolute;
    margin: 0;
    font-size: 35px;
    opacity: 0;
    color: black;
    transition: .5s ease;
}

.parts:hover p {
    opacity: 1;
    cursor: pointer;
    background-color: beige;
}

h5 {
    font-size: 35px;
    text-align: center;
    color: #90969B;
    margin-top: 50px;
}

.feautures {
    
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5%;
  
}

.feautures p {
    font-size: 25px;
    color: #90969B;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.feauture-1 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.feauture-2 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.feauture-3 {
    border-bottom: 3px solid black;
}

.feauture-4 {
    border-right: 3px solid black;

}

.feauture-5 {
    border-right: 3px solid black;
}

h6 {
    font-size: 35px;
    text-align: center;
    color: #90969B;
    margin-top: 50px;
}
.contact_container{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

form {
    margin-top: 50px;
  
      }
.connecting{
    margin-top: 2%;
  }
.common {
    display: flex;
    flex-direction: row;
}

.name {
    display: flex;
    flex-direction: row;
    position: relative;
    }

.name input {
    padding: 10px;
    width: 250px;
    background-color: #90969B;
    color: black;
    cursor: pointer;
}

.name label {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 5px;
    color: azure
        
}

.email {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.email input {
    padding: 10px;
    width: 250px;
    background-color: #90969B;
    color: black;
    cursor: pointer;
}

.email label {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 5px;
    color: azure
       
}

.phone {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.phone input {
    padding: 10px;
    width: 250px;
    background-color: #90969B;
    color: black;
    cursor: pointer;
}

.phone label {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 5px;
    color: azure;
    cursor: pointer;

}

.connecting p {
    color: azure;

}

.topic {
    margin-top: 2%;
    color: azure;
}

#selector {
    background-color: #90969B;
}

.message {
    margin-top: 2%;
}

.message p {
    color: azure;
}

#message {
    background-color: #90969B;
}
#checking{
    cursor: pointer;
}
#button{
    width: 160px;
    height: 50px;
    overflow: hidden;
    border: 1px solid azure;
    background: none;
    transition: 3s;
}

#button:hover {
    background-color: white;
}


footer {
    margin-top: 20%;
    margin-left: 50%;
    display: inline-block;

}

@media screen and (min-width:600px) and (max-width:850px) {
    .burger {
        visibility: hidden;
    }

    .hello img {
        width: 90%;
    }

    .hello p {
        display: none;
    }

    h1 {
        display: none;
    }

    nav a {
        font-size: 20px;
        display: block;
        padding-left: 25px;
    }

    .icons {
        display: none;
    }

    .parts img {
        width: 100%;
    }

    .parts p {
        font-size: 25px;
    }

    .river {
        display: none;
    }

    .feautures {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .feauture-3 {
        border-right: 3px solid black;
    }

    .feauture-2 {
        border-right: none;
    }

    .feauture-4 {
        border-right: none;
        border-bottom: 3px solid black;
    }

    input[type=text] {
        width: 120px;
    }

    .message textarea {
        width: 360px;
    }

}

@media screen and (max-width:600px) {

    .burger {
        visibility: visible;
        position: relative;
        display: inline-block;
    }

    .silent {
        background-color: #404548;
        color: #90969B;
        font-size: 18px;
        padding-left: 30px;
        padding-top: 25%;
        border: none;
    }

    .list_menu {
        display: none;
        position: absolute;
        margin-left: 30px;
        background-color: #90969B;
        min-width: 75px;
        z-index: 1;
    }

    .list_menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 15px;
    }

    .list_menu a:hover {
        background-color: #ddd;
    }

    .burger:hover .list_menu {
        display: block;
    }

    .logo a {
        display: none;
    }

    .hello img {
        width: 80%;
    }

    .hello p {
        display: none;
    }

    h1 {
        display: none;
    }

    .icons {
        display: none;
    }

    .river {
        display: none;
    }

    .castle {
        display: none;
    }

    .feautures {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .feauture-1 {
        border-right: none;
    }

    .feauture-2 {
        border-right: none;
    }

    .feauture-4 {
        border-right: none;
        border-bottom: 3px solid black;
    }

    .feauture-5 {
        border-right: none;
        border-bottom: 3px solid black;
    }

    .feauture-6 {
        border-bottom: 3px solid black;
    }

    input[type=text] {
        width: 100px;
    }

    .message textarea {
        width: 320px;
    }
}